<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/styles/main.scss">
    <link rel="icon" href="/assets/favicon.ico">
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body data-barba="wrapper">
    {{> header }}
    <main class="main-container">
      {{>@partial-block}}
    </main>
    <script type="module" src="/scripts/main.ts"></script>
  </body>
</html>
